:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --color-font-accent: #2196f3;
  --color-font-normal: #212121;
  --color-font-light: #ffffff; /*змінено із #FFFFFF; на  #757575; що б було наглядніше*/
}
body {
  font-family: var(--text-font);
}
/*<!--шапка  IN -->*/
.logotype-accent {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192px;
  letter-spacing: 0.03em;
  color: var(--color-font-accent);
}

.logotype-normal {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192px;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  color: var(--color-font-normal);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--color-font-accent);
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  color: var(--color-font-normal);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--color-font-accent);
}

.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  color: var(--color-font-normal);
}

.contact-tel:hover,
.contact-tel:focus {
  color: var(--color-font-accent);
}

.accent {
  color: var(--color-font-accent);
}
/*<!--шапка  OUT -->*/

/* <!--баннер  IN-->*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-font-light);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-font-light);
}

.hero-button:hover,
.hero-button:focus {
}
/* <!--баннер  OUT-->*/

/*<!--перечень  IN-->*/
.title-advantages {
  font-size: 0px;
}
.advantages-title-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-font-normal);
}

.advantages-paragraph-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*<!--перечень  OUT-->*/

/*<!--Чем мы занимаемся  IN-->*/
.title-What-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
}
/*<!--Чем мы занимаемся  OUT-->*/

/*<!--команда  IN-->*/
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-font-normal);
}

.team-paragraph-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*<!--команда  OUT-->*/

/*<!--нижнее меню IN-->*/
.logotype-footer {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192px;
  letter-spacing: 0.03em;
  color: var(--color-font-light);
}

.address-contact-geolocation-link {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: var(--color-font-light);
}

.address-contact-link {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117, 0.6);
  /*color: rgba(255, 255, 255, 0.6);*/ /*пізніще зміню*/
}

.address-contact-link:hover,
.address-contact-link:focus {
}
/*<!--нижнее меню OUT-->*/
